.image-pixelated[data-v-35fd7f09]{image-rendering:pixelated}.animate-fade-in[data-v-35fd7f09]{animation:fadeIn-35fd7f09 .5s ease-out}@keyframes fadeIn-35fd7f09{0%{opacity:0;transform:translateY(10px)}to{opacity:1;transform:translateY(0)}}
